body{
	margin: 10%;
	text-align: justify;
	font-size: 5vw;
	}

nav {
	font-size:5vw;
	text-align: justify;
	width: 800px;
	}
nav ul {
	display: inline;
	list-style-type: none;
	margin: 10px;
	padding: 20px;
	}	
nav li {
	display: inline;
	font-size:3vw;
	}
nav button{
	font-size:2vw;
	}
	